  <%= form_for @course, url: { action: 'create' }, html:{ id: "", class: "", multipart: true} do |f| %>
      <section class="clearfix">
        <h6>Create Your Course</h6>
        <div class="course-thumb">
          <% if edit %>
            <%= image_tag("image_placeholder.png") %>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <label type="button" class="btn btn-default">
                  {{view "thumb" name="course[thumbnail]"}}
                  <i class="fa fa-cloud-upload fa-2x"></i>
                </label>
              </div>
              <div class="btn-group" role="group">
                <button type="button" {{action 'editThumb' 'edit-thumb'}} class="btn btn-default">
                  <i {{bind-attr class=":fa cropOn:fa-crop:fa-pencil-square-o :fa-2x"}}></i>
                </button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">

                </button>
              </div>
            </div>
          <% else %>
            <%= image_tag("image_placeholder.png") %>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <label type="button" class="btn btn-default" style="font-size: 18px; font-weight: bold;">
                  {{view "thumb" name="course[thumbnail]"}}
                  <i class="fa fa-cloud-upload"></i> Upload Cover
                </label>
              </div>
          
            </div>
          <% end %>
        </div>

        <fieldset class="form-group">
          <%= f.text_field :title, class: "form-control", placeholder: "Enter Course Name" %>
        </fieldset>
        
        <fieldset class="form-group">
          <%= f.select(:course_category_id, options_for_select(PageTemplate.categories), { :include_blank => 'Please Select a Course Category' }, { class: "form-control" }) %>
        </fieldset>

        <fieldset>
          <%= f.text_area(:description, class: "form-control course-description", placeholder: "Enter a Course Description") %>
        </fieldset>
      </section>

      <section>
        <h6>Course Details</h6>

        <div class="course-date clearfix mbs">
          <div class="row">
            <span class="title col-lg-6">Course Start Day</span>
            <span class="title col-lg-6">Course End Day</span>
          </div>
          <fieldset class='row'>
            <div class="start-date col-lg-4">
              <%= text_field_tag :start_date, nil, class: "form-control" %>
            </div> 
            <div class="start-time col-lg-2">
                <div class="time-content">
                  <%= select_tag(:start_hour, options_for_select(hours)) %> :
                  <%= select_tag(:start_minute, options_for_select(minutes)) %>
                  <%= select_tag(:start_period, options_for_select(period)) %>
                  <i class='fa fa-clock-o'></i>
                </div>
            </div> 

            <div class="end-date col-lg-4">
              <%= text_field_tag :end_date, nil, class: "form-control" %>
            </div> 

            <div class="end-time col-lg-2">
 
                <div class="time-content">
                  <%= select_tag(:end_hour, options_for_select(hours))   %> :
                  <%= select_tag(:end_minute, options_for_select(minutes))   %>
                  <%= select_tag(:end_period, options_for_select(period))   %>
                  <i class='fa fa-clock-o'></i>
         
              </div>
            </div> 
          </fieldset>
    
        </div>

        <div class="course-prereq mbs">
          <span class="title">Course Prerequisites</span>
          <fieldset class="form-group">
            <%= f.check_box :prerequisites %>
            <%= f.label :prerequisites, "None"  %>
          </fieldset>
        </div>

        <div class="row">
          <span class="title col-lg-7">Course Type</span>
          <span class="title col-lg-2">Student Limit</span>
          <span class="title col-lg-2">Max Student</span>
        </div>

        <div class="row">
          <fieldset class="form-group col-lg-7">
            <%= f.select(:course_type, options_for_select(Course::CourseType), { :include_blank => 'Please Select a Course Type' }, { class: "form-control" }) %>
          </fieldset>
   
          <fieldset class="form-group course-student col-lg-2">
            <%= f.radio_button :student_limit, 'yes' %>
            <%= f.label :student_limit_true, 'Yes'  %> 
            <%= f.radio_button :student_limit, 'no', checked: true   %>
            <%= f.label :student_limit_false, 'No' %>
          </fieldset>
          <fieldset  class="form-group col-lg-3">
            <%= f.text_field :max_student, class: "form-control" %>
          </fieldset>
        </div>

        <fieldset class="form-group">
          <%= f.label :note, "Additional Notes (Only For You)"  %>
          <%= f.text_area :note, class: "form-control", placeholder: "Less then 300 characters" %>
        </fieldset>
      </section>

      <section>
        <h6>Course Pricing</h6>
         <div class="row">
          <span class="title col-lg-4">Course Price</span>
          <span class="title col-lg-4">Payment Method</span>
          <span class="title col-lg-4">Dicsount</span>
        </div>
        <div class="row">
          <fieldset  class="form-group col-lg-4">
            <%= f.text_field :price, class: "form-control" %>
          </fieldset>
          <fieldset class="form-group col-lg-4">
            <%= f.select(:charge_method, options_for_select(Course::PaymentMethods), {}, { class: "form-control" }) %>
          </fieldset>
          <fieldset class="form-group col-lg-4">
            <%= f.select(:discount, options_for_select(Course::Discount), {}, { class: "form-control" }) %>
          </fieldset>
        </div>
      </section>

      <button class="btn btn-default pull-right" type="submit">Create Course</button>
  <% end %>