<% content_for :footer do %> 
  <script type="text/x-handlebars" data-template-name="courses">
    <div class="col-lg-4 tse-scrollable panel-left">
      <div class="tse-content wrapper">
        <div class="course-header">
          My Courses
        </div>
        
        {{course-title classNames="new-course"  url="<%= url_for(controller: 'courses', action: 'create') %>"}}
        {{course-list courses='<%= json_for(@courses) %>'}}
      </div>
    </div>
    <div class="course-details col-lg-8 panel-right">
      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="course">
    <%= render 'details'  %>
  </script>

  <script type="text/x-handlebars" data-template-name="components/course-list">
    {{#each course in theCourses}}
      {{#link-to 'course' course href=false tagName='li' classNames="course-item clearfix"}}

        <div class="course-thumbnail">
          <%= image_tag 'image_placeholder.png' %>
        </div>
        <span class="course-title">
          {{course.title}}
        </span>
        <div class="course-buttons pull-right">
          <a {{bind-attr href=course.url}} data-method="delete" >
            <i class="fa fa-trash-o"></i>
          </a>
        </div>

      {{/link-to}}
    {{/each}}
  </script> 

  <script type="text/x-handlebars" data-template-name="components/course-title">
    {{#if isClicked}}
      {{focus-input action="add"}}
    {{else}}
      {{#if course}}
        {{course.title}}
      {{else}}
        <i class="fa fa-plus"></i> New Course
      {{/if}}
    {{/if}}
  </script>

  <script type="text/x-handlebars" data-template-name="course/settings">
    <%= render 'settings'  %>
  </script>

  <%= javascript_include_tag "moment.min" %>
  <%= javascript_include_tag "daterangepicker" %>

<% end %>

{{render "courses" }}
