<!-- Load image preview just for this page -->
<% content_for :head do %>
  <%= javascript_include_tag "load-image.all.min" %>
<% end %>

<div id="course">
  <%= form_for @course, url: { action: 'create' }, html:{ id: "", class: "" } do |f| %>
      <section class="clearfix">
        <h6>Create Your Course</h6>
        <div class="course-thumb">
          <%= image_tag("image_placeholder.png") %>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <label type="button" class="btn btn-default">
                {{view "file_up" upload='file_upload'}}
                <i class="fa fa-cloud-upload fa-2x"></i>
              </label>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default">
                <i class="fa fa-pencil-square-o fa-2x"></i>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default">
                <i class="fa fa-trash fa-2x"></i>
              </button>
            </div>
          </div>
        </div>

        <fieldset class="form-group">
          <%= f.text_field :title, class: "form-control", placeholder: "Enter Course Name" %>
        </fieldset>
        
        <fieldset class="form-group">
          <%= f.select(:course_category_id, options_for_select(PageTemplate.categories), { :include_blank => 'Please Select a Course Category' }, { class: "form-control" }) %>
        </fieldset>

        <fieldset>
          <%= f.text_area(:description, class: "form-control course-description", placeholder: "Enter a Course Description") %>
        </fieldset>
      </section>

      <section>
        <h6>Course Details</h6>

        <div class="course-date clearfix mbs">
          <div class="row">
            <span class="title col-lg-6">Course Start Day</span>
            <span class="title col-lg-6">Course End Day</span>
          </div>
          <fieldset class='row'>
            <div class="start-date col-lg-4">
              <%= f.text_field :start_date, class: "form-control" %>
            </div> 
            <div class="start-time col-lg-2">
              <%= f.text_field :start_time, class: "form-control" %>
              <button><i class="fa fa-clock-o"></i></button>
            </div> 
            <div class="end-date col-lg-4">
              <%= f.text_field :end_date, class: "form-control" %>
            </div> 
            <div class="end-time col-lg-2">
              <%= f.text_field :end_time, class: "form-control" %>
              <button><i class="fa fa-clock-o"></i></button>
            </div> 
          </fieldset>
    
        </div>

        <div class="course-prereq mbs">
          <span class="title">Course Prerequisites</span>
          <fieldset class="form-group">
            <%= f.check_box :prerequisites %>
            <%= f.label :prerequisites, "None"  %>
          </fieldset>
        </div>

        <div class="row">
          <span class="title col-lg-7">Course Type</span>
          <span class="title col-lg-2">Student Limit</span>
          <span class="title col-lg-2">Max Student</span>
        </div>

        <div class="row">
          <fieldset class="form-group col-lg-7">
            <%= f.select(:course_type, options_for_select(Course::CourseType), { :include_blank => 'Please Select a Course Type' }, { class: "form-control" }) %>
          </fieldset>
   
          <fieldset class="form-group course-student col-lg-2">
            <%= f.radio_button :prerequisites, 'yes' %>
            <%= f.label :prerequisites_yes, 'Yes'  %> 
            <%= f.radio_button :prerequisites, 'no', checked: true   %>
            <%= f.label :prerequisites_no, 'No' %>
          </fieldset>
          <fieldset  class="form-group col-lg-3">
            <%= f.text_field :max_student, class: "form-control" %>
          </fieldset>
        </div>

        <fieldset class="form-group">
          <%= f.label :note, "Additional Notes (Only For You)"  %>
          <%= f.text_area :note, class: "form-control", placeholder: "Less then 300 characters" %>
        </fieldset>
      </section>

      <section>
        <h6>Course Pricing</h6>
         <div class="row">
          <span class="title col-lg-4">Course Price</span>
          <span class="title col-lg-4">Payment Method</span>
          <span class="title col-lg-4">Dicsount</span>
        </div>
        <div class="row">
          <fieldset  class="form-group col-lg-4">
            <%= f.text_field :price, class: "form-control" %>
          </fieldset>
          <fieldset class="form-group col-lg-4">
            <%= f.select(:charge_method, options_for_select(Course::PaymentMethods), {}, { class: "form-control" }) %>
          </fieldset>
          <fieldset class="form-group col-lg-4">
            <%= f.select(:discount, options_for_select(Course::Discount), {}, { class: "form-control" }) %>
          </fieldset>
        </div>
      </section>

      <button class="btn btn-default pull-right" type="submit">Create Course</button>
  <% end %>
</div>