%nav.navbar.navbar-default
  .container
    .navbar-header
      = button_tag "#", class: "navbar-toggle", data: {toggle: "collapse", target: "#32a"} do
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Browse", "#"
        %li
          = link_to "About", "#"
        - if user_signed_in? || admin_signed_in?
          %li
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
              = "#{current_user!.username}"
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "Profile", user_path(current_user!)
              %li
                = link_to "My Classes"
              %li.divider
              %li
                = link_to "Log Out", (current_admin ? destroy_admin_session_path : destroy_user_session_path), method: "delete"
        -else
          %li
            = link_to "Sign Up", new_student_registration_path, class: "btn btn-top-nav btn-signup"
          %li
            = link_to "Log In", new_user_session_path, class: "btn btn-top-nav btn-signin"

     

