<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]> ><! <![endif]-->
<html lang="en">
<!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "ember", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <script type="text/x-handlebars" data-template-name="application">

      <div class="main-wrapper">
        <div id="left-menu" {{bind-attr class="isOpen:open:closed"}}>
          {{partial 'left-menu'}}
        </div>
        <div id="main-content" {{bind-attr class="isOpen::extended"}}>
          <div class="tse-scrollbar">
            <div style="top: 2px; height: 303px;" class="drag-handle">
            </div>
          </div>
          <div class="tse-scrollable-content wrapper">
            <%= yield %>
          </div>
        </div>
        <div id="right-menu">
          
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="_left-menu">
      <%= render 'layouts/side_nav' %>
    </script>

  </body>
</html>
