<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]> ><! <![endif]-->
<html lang="en">
<!-- <![endif] -->
  <head>
    <meta charset="utf-8">
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    
    <title><%= page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ember.init" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <script type="text/x-handlebars" data-template-name="application">
      {{outlet 'modal'}}
      <div class="main-wrapper">
        <div id="left-menu" {{bind-attr class="isOpenLeft:open:closed"}}>
          {{left-menu user="<%=  current_user ? current_user.username : 'Not Logged in'  %>" open="openLeft" close="closeLeft" isOpen=isOpenLeft }}
        </div>
        <div id="main-content" class="tse-scrollable" {{bind-attr class="isOpenLeft::extended isOpenRight::extendedRight"}}>
          <div class="tse-content wrapper">
            <%= yield %>
          </div>
    
        </div>
        <div id="right-menu" {{bind-attr class="isOpenRight::open:closed"}}>
          {{right-menu open="openRight" close="closeRight" isOpen=isOpenRight }}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="components/editable-div">
      {{yield}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/editable-header">
      {{yield}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/ck-textarea">
      {{yield}}
    </script>


    <%= render 'layouts/side_nav' %>
    <%= render 'layouts/right_side_nav' %>

    <%= render 'shared/ember_views' %>

  </body>
</html>
